@charset 'UTF-8';


/***********main-area*********/

.main-area{
	position:relative;
	padding-top: 83px;
	background-color: #fff;
	width: 100%;
  border-bottom: 1px solid #e3e3e3;
}

.main-area .back-img{
	width: 70%;
  max-width: 740px;
  
  padding: 50px 0;
  margin: 0 auto;
}

.main-area .back-img img{
  width: 100%;
  height: 100%;
/*  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);*/
  
}



/***********business-area*********/

.business-area{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
}

.business-area h2{
	
}

.business-commons-wrap{
	width: 1000px;
	margin: 0 auto;
}

.business-area .business-common{
	text-align: center;
	float: left;
	height: 180px;
}

.business-area .business-common h3{
	font-size: 24px;
	padding-top: 10px;
	margin-bottom: 25px;
	font-weight: 300;
}

.business-area .business-common p{
	font-size: 18px;
	line-height: 1.6;
	
}

.business-area .business-left{
	border-right: 1px solid #e3e3e3;
	padding-right: 49px;
	margin-right: 50px;
}

.business-area .business-right{
	
}

.business-area .business-half-bar{
	
	
}

.business-area .business-right a{
	text-decoration: underline;
	color: red;
}

/***********latest-works-area*********/

.latest-works-area{
	background-color: #79cafe;
	padding-bottom: 80px;
}

.latest-works-wrap{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.latest-works-area h2{
	color: #fff;
	border-bottom: 1px solid #fff;
	margin-bottom: 40px;
}

.latest-works-area ul{
	display: flex;
	justify-content: space-between;
}

.latest-works-area li{
	/* width: 232px;
	float: left; */
	margin-right: 24px;
	background-color: #fff;
	text-align: left;
	-webkit-box-shadow: 6px 7px 20px -6px rgba(0,0,0,0.35);
-moz-box-shadow: 6px 7px 20px -6px rgba(0,0,0,0.35);
box-shadow: 6px 7px 20px -6px rgba(0,0,0,0.35);
}

.latest-works-area li:last-child{
	margin-right: 0;
}

.latest-works-area article{
	
}

.latest-works-area article a{
	display: block;
	text-decoration: none;
	color: #555;
	position: relative;
	
}

.latest-works-area article .article-words{
	padding: 5px 8px 15px;
	position: absolute;
	z-index: 20;
	bottom: 0;
	left: -8px;
	/* border-top: 1px solid #ccc; */
}

.latest-works-area article a .article-img{
	
}

.latest-works-area article a .article-img img{
	width: 100%;
}

.latest-works-area article a time{
	font-size: 12px;
	margin-bottom: 7px;
	display: inline-block;
	color: #fff;
	background: #44C591;
	padding: 4px;
}

.latest-works-area article a p{
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	background: #44C591;
	padding: 4px;
}

.latest-works-area .all-lists{
	position: absolute;
	bottom: -54px;
	right: 0px;
	z-index: 2;
}

.latest-works-area .all-lists a{
	border-bottom: 1px solid #fff;
	color: #fff;
}

.latest-works-area .all-lists a:hover{
	text-decoration: none;
}

/***********sns-area*********/

.sns-area{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 75px;
}

.sns-area h2{
	
}

.sns-area .sns-wrap{
	
}

.sns-area .sns-common-section{
	float: left;
}

.sns-area .twitter-section{
	margin-right: 70px;
}

.sns-area .twitter-section .tw-label{
	width: 465px;
    background-color: #00a8ea;
    padding: 16px 0;
    text-align: center;
    display: block;
    transition: all .3s;
}

.sns-area .twitter-section .tw-label:hover{
	opacity: .7;
}

.sns-area .twitter-section .tw-label + p{
	border: 1px solid #c3c3c3;
	border-top: none;
	width: 465px;
}


.sns-area .facebook-section{
	
}

.sns-area .facebook-section .fb-label{
	width: 465px;
    background-color: #3b5993;
    padding: 14px 0 13px;
    text-align: center;
    display: block;
    transition: all .3s;
}

.sns-area .facebook-section .fb-label:hover{
	opacity: .7;
}

.sns-area .facebook-section .fb-label + div{
	width: 465px;
}

@media all and (max-width: 1024px) {
/***********main-area*********/

.main-area{
    padding-top: 67px;
}

.main-area .back-img{
  padding: 50px 0;
  margin: 0 auto;
}

.main-area > img{}


.main-area p{
	font-size: 40px;
	transform: translateY(-41%) translateX(-50%);
}

.main-area a {
    display: none;
}
.main-area a span {}


/***********business-area*********/

.business-area{
    width: auto;
}

.business-area h2{}

.business-commons-wrap{width: 710px;}

.business-area .business-common{
    height: 144px;
}

.business-area .business-common h3{
  font-size: 22px;
}

.business-area .business-common p{
    font-size: 13px;
}

.business-area .business-left{
    padding-right: 30px;
    margin-right: 29px;
}

.business-area .business-right{}

.business-area .business-half-bar{}

.business-area .business-right a{}

/***********latest-works-area*********/

.latest-works-area{}

.latest-works-wrap{
    width: 744px;
}

.latest-works-area h2{}

.latest-works-area ul{}

.latest-works-area li{}

.latest-works-area li:nth-child(3){
	margin-right: 0;
}

.latest-works-area li:last-child{
	display: none;
}

.latest-works-area article{}

.latest-works-area article a{}

.latest-works-area article .article-words{}

.latest-works-area article a .article-img{}

.latest-works-area article a .article-img img{}

.latest-works-area article a time{}

.latest-works-area article a p{}

.latest-works-area .all-lists{}

.latest-works-area .all-lists a{}

.latest-works-area .all-lists a:hover{}

/***********sns-area*********/

.sns-area{
    width: 750px;
}

.sns-area h2{}

.sns-area .sns-wrap{
    width: 750px;
    margin: 0 auto;
}

.sns-area .sns-common-section{
    float: none;
}

.sns-area .twitter-section{
    margin-right: 0;
    display: inline-block;
    margin-bottom: 30px;
}

.sns-area .twitter-section .tw-label{
    
}

.sns-area .twitter-section .tw-label + p{
    
}


.sns-area .facebook-section{
    display: inline-block;
}

.sns-area .facebook-section .fb-label{
    
}

.sns-area .facebook-section .fb-label + div{
    
}
	}

@media all and (max-width: 768px) {
/***********main-area*********/

.main-area{
    /* padding-top: 67px; */
}

.main-area .back-img{
  padding: 20px 0;
}

.main-area p{
	font-size: 24px;
	padding: 0 0px;
	line-height: 1.3;
	transform: translateY(-29%) translateX(-50%);
}

.main-area a {
    
}
.main-area a span {
	
}

/***********business-area*********/

.business-area{
    padding-bottom: 20px;
}

.business-area h2{}

.business-commons-wrap{
    width: auto;
}

.business-area .business-common{
    float: none;
    width: 90%;
    margin: 0 auto;
}

.business-area .business-common h3{
    margin-bottom: 10px;
    font-size: 18px;
}

.business-area .business-common p{}

.business-area .business-left{
    padding-right: 0;
    border-right: none;
}

.business-area .business-right{}

.business-area .business-half-bar{}

.business-area .business-right a{}

/***********latest-works-area*********/

.latest-works-area{
    padding-bottom: 40px;
}

.latest-works-wrap{
    width: auto;
}

.latest-works-area h2{}

.latest-works-area ul{
    margin: 0 auto;
    width: 320px;
}

.latest-works-area li{
    margin-right: 0;
    width: auto;
    margin-bottom: 20px;
}

.latest-works-area li:last-child{}

.latest-works-area article{}

.latest-works-area article a{}

.latest-works-area article .article-words{}

.latest-works-area article a .article-img{}

.latest-works-area article a .article-img img{}

.latest-works-area article a time{}

.latest-works-area article a p{}

.latest-works-area .all-lists{
    bottom: -24px;
    right: 15px;
}

.latest-works-area .all-lists a{}

.latest-works-area .all-lists a:hover{}

/***********sns-area*********/

.sns-area{
    width: auto;
    padding-bottom: 42px;
}

.sns-area h2{
    margin-bottom: 40px;
}

.sns-area .sns-wrap{
    width: 90%;
}

.sns-area .sns-common-section{
    width: 100%;
}

.sns-area .twitter-section{
    /* width: 100%; */
}

.sns-area .twitter-section .tw-label{
    width: 100%;
}

.sns-area .twitter-section .tw-label + p{
    display: none;
}


.sns-area .facebook-section{}

.sns-area .facebook-section .fb-label{
    width: 100%;
}

.sns-area .facebook-section .fb-label + div{
    display: none;
}

}

