/***********footer*********/

footer{
	background-color: #79cafe;
	padding-bottom: 20px;
	padding-top: 50px;
	color: #fff;
}

footer .footer-wrap{
	width: 1000px;
	margin: 0 auto;
}

footer .copywrite{
	text-align: center;
	margin-top: 30px;
}

footer small{
	font-size: 11px;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*contact*/

.footer-contact{
	float: left;
	margin-right: 192px;
}

.footer-contact p{
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 25px;
	font-size: 24px;
}

form{
	
}

form label{
	display: block;
	font-size: 16px;
	margin-bottom: 3px
}

form input{
	background-color: #fff;
	border: 1px solid #c3c3c3;
	border-radius: 13px;
	height: 28px;
	width: 300px;
	margin-bottom: 16px;
	font-size: 14px;
	padding: 0 10px;
}

form #name{
		
}

form #mail{
	
}

form #text{
	background-color: #fff;
	border: 1px solid #c3c3c3;
	border-radius: 13px;
	width: 344px;
	margin-bottom: 16px;
	font-size: 14px;
	padding: 5px 10px;
}

form button{
	display: block;
	width: 150px;
	font-size: 14px;
	background-color: #fff;
	border-radius: 10px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #c3c3c3;
}

/* footer-right */

footer .footer-right{

}

.footer-sns{
	margin-bottom: 70px;
}

.footer-sns p{
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 10px;
	font-size: 24px;
}

.footer-sns ul{

}

.footer-sns ul li{
	display: inline-block;
	margin-right: 14px;
}

.footer-sns ul li a{
	width: 35px;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.footer-sns ul li a:hover{
	opacity: .7;
}

.footer-sns ul li a img{
	width: 100%;
}

.footer-menu{

}

.footer-menu p{
color: #fff;
	letter-spacing: 1px;
	margin-bottom: 10px;
	font-size: 24px;
}

.footer-menu ul{

}

.footer-menu ul li{
	
}

.footer-menu ul li a{
	color: #fff;
	border-bottom: 1px solid #fff;
	
}

.footer-menu ul li a:hover{
	text-decoration: none;
	
}

/*modal*/

body.active{
	overflow: hidden;
}

#modal-overlay {
  z-index: 10 ;
  display: none ;
  position: fixed ;
  top: 0 ;
  left: 0 ;
  width: 100% ;
  height: 120% ;
  background-color: rgba( 0,0,0, 0.75 );
}

#modal-wrap-outer{
  width: 100%;
  height: 100%;
  position: fixed ;
  z-index: 19 ;
  overflow: auto;
  top:0;
  display: none ;
}

#modal-wrap {
  width: 80% ;
  height: 100%;
  margin: 0 ;
  padding: 0 ;
  position: relative ;
  
  /*z-index: 20 ;*/
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 800px;
}

#modal-content{
	margin:30px 0;
	background-color: #fff;
	text-align: center;
	padding:0 20px 30px;
	max-width: 800px;
	transform: translateY(-50%);
	top: 50%;
	position: relative;
	z-index: 2000;
}

#modal-close{
	width: 25px;
	position: absolute;
	top: 29px;
	right: 20px;
	cursor: pointer;
}

#modal-close img{
	width: 100%;
}

#modal-content h2{
	padding-top: 30px;
	
}

#modal-content dl{
	text-align: left;
}

#modal-content dt{
	font-size: 24px;
	margin-bottom: 20px;
}

#modal-content dd{
	margin-bottom: 30px;
	border-bottom: 1px solid #c3c3c3;
	padding-bottom: 20px;
}

#modal-content span{
	font-size: 12px;
	
}

#modal-overlay.active,
#modal-wrap-outer.active{
	display: block;
}

@media all and (max-width: 1024px) {

/***********footer*********/

footer{}

footer .footer-wrap{
    width: 600px;
}

footer .copywrite{}

footer small{}

input, button, textarea, select {}

/*contact*/

.footer-contact{
    margin-right: 100px;
}

.footer-contact p{}

form{}

form label{}

form input{}

form #name{}

form #mail{}

form #text{
    width: 100%;
}

form button{}

/* footer-right */

footer .footer-right{}

.footer-sns{}

.footer-sns p{}

.footer-sns ul{}

.footer-sns ul li{}

.footer-sns ul li a{}

.footer-sns ul li a:hover{}

.footer-sns ul li a img{}

.footer-menu{}

.footer-menu p{}

.footer-menu ul{}

.footer-menu ul li{}

.footer-menu ul li a{}

.footer-menu ul li a:hover{}

/*modal*/

body.active{}

#modal-overlay {}

#modal-wrap-outer{}

#modal-wrap {}

#modal-close{}

#modal-close img{}

#modal-content{
	transform: translateY(-30%);
}

#modal-content h2{}

#modal-content dl{}

#modal-content dt{
    font-size: 20px;
}

#modal-content dd{}

#modal-content span{}

#modal-overlay.active,
#modal-wrap-outer.active{}

}

@media all and (max-width: 768px) {

/***********footer*********/

footer{
    padding-top: 30px;
}

footer .footer-wrap{
    width: auto;
    padding: 0 20px;
}

footer .copywrite{}

footer small{}

input, button, textarea, select {}

/*contact*/

.footer-contact{
    margin-right: 20px;
    width: 60%;
}

.footer-contact p{}

form{}

form label{}

form input{
    width: 87%;
}

form #name{}

form #mail{}

form #text{}

form button{}

/* footer-right */

footer .footer-right{}

.footer-sns{}

.footer-sns p{
    /* margin-bottom: 10px; */
}

.footer-sns ul{}

.footer-sns ul li{
	margin-right: 6px;
}

.footer-sns ul li:last-child{
	margin-right: 0;
}

.footer-sns ul li a{}

.footer-sns ul li a:hover{}

.footer-sns ul li a img{}

.footer-menu{}

.footer-menu p{}

.footer-menu ul{}

.footer-menu ul li{}

.footer-menu ul li a{}

.footer-menu ul li a:hover{}

/*modal*/

body.active{}

#modal-overlay {}

#modal-wrap-outer{}

#modal-wrap {}

#modal-close{}

#modal-close img{}

#modal-content{
	transform: translateY(-20%);
}

#modal-content h2{}

#modal-content dl{}

#modal-content dt{
    font-size: 18px;
}

#modal-content dd{}

#modal-content span{}

#modal-overlay.active,
#modal-wrap-outer.active{}

}