@charset 'UTF-8';


/***********latest-works-area*********/

#works-page {
  padding-top: 83px;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.latest-works-area{
	padding-bottom: 80px;
}

.latest-works-wrap{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

.latest-works-area h2{
	color: #fff;
	border-bottom: 1px solid #fff;
	margin-bottom: 40px;
}

.latest-works-area ul{
	
}

.latest-works-area li{
  float: left;
	margin-right: 2%;
	background-color: #fff;
	text-align: left;
	-webkit-box-shadow: 6px 7px 20px -6px rgba(0,0,0,0.35);
  -moz-box-shadow: 6px 7px 20px -6px rgba(0,0,0,0.35);
  box-shadow: 6px 7px 20px -6px rgba(0,0,0,0.35);
  width: 32%;
  margin-bottom: 2%;

}

.latest-works-area li:nth-child(3n){
	margin-right: 0;
}

.latest-works-area article{
	
}

.latest-works-area article a{
	display: block;
	text-decoration: none;
	color: #555;
	position: relative;
	
}

.latest-works-area article .article-words{
	padding: 4px 8px;
	position: absolute;
	z-index: 2;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7);
}

.latest-works-area article a .article-img{
	
}

.latest-works-area article a .article-img img{
	width: 100%;
}

.latest-works-area article a time{
	font-size: 12px;
	margin-bottom: 7px;
	display: inline-block;
	color: #fff;
	position: absolute;
  top:0;
  left: 0;
  background-color: #44C591;
  text-align: center;
  padding: 4px 8px;
}

.latest-works-area article a time span{
  display: block;
  margin-bottom: 2px;
}

.latest-works-area article a time .day{
  font-size: 16px;
  font-weight: bold;
}

.latest-works-area article a time .month{
  display: block;
}

.latest-works-area article a time .year{
  display: block;
}


.latest-works-area article a p{
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	padding: 4px;
}

.latest-works-area .all-lists{
	position: absolute;
	bottom: -54px;
	right: 0px;
	z-index: 2;
}

.latest-works-area .all-lists a{
	border-bottom: 1px solid #fff;
	color: #fff;
}

.latest-works-area .all-lists a:hover{
	text-decoration: none;
}

@media all and (max-width: 1024px) {

/***********latest-works-area*********/

#works-page {
  width: auto;
}

.latest-works-area{}

.latest-works-wrap{
    width: 744px;
}

.latest-works-area h2{}

.latest-works-area ul{}

.latest-works-area li{}

.latest-works-area li:nth-child(3){
	margin-right: 0;
}

.latest-works-area li:last-child{
	
}

.latest-works-area article{}

.latest-works-area article a{}

.latest-works-area article .article-words{}

.latest-works-area article a .article-img{}

.latest-works-area article a .article-img img{}

.latest-works-area article a time{}

.latest-works-area article a p{
	font-size: 14px;
}

.latest-works-area .all-lists{}

.latest-works-area .all-lists a{}

.latest-works-area .all-lists a:hover{}

}

@media all and (max-width: 768px) {

/***********latest-works-area*********/

.latest-works-area{
    padding-bottom: 40px;
}

.latest-works-wrap{
    width: auto;
}

.latest-works-area h2{}

.latest-works-area ul{
    margin: 0 auto;
    width: 90%;
    max-width: 300px;  
    flex-direction: column;
    flex-wrap: wrap;
}

.latest-works-area li{
    margin-right: 0;
    width: auto;
    margin-bottom: 20px;
}

.latest-works-area li:last-child{}

.latest-works-area article{}

.latest-works-area article a{}

.latest-works-area article .article-words{}

.latest-works-area article a .article-img{}

.latest-works-area article a .article-img img{}

.latest-works-area article a time{}

.latest-works-area article a p{}

.latest-works-area .all-lists{
    bottom: -24px;
    right: 15px;
}

.latest-works-area .all-lists a{}

.latest-works-area .all-lists a:hover{}


}

